@model ImageTagging.Models.Images

@{
    ViewBag.Title = "Show image tag";
}

<h2>Show image tag area</h2>

<div>
    <h4>Mouseover over part of image area or over tag to display tag area on image</h4>
    <hr />
    <div style="width:500px; height:300px">
        <img class="map" style="width:auto;  height:inherit" id="image" onmouseover="AddCustomCoordsToArea('@Model.areaCoords', 'area', 'image')" src="@Model.imgURL" usemap="#map"/>
    </div>
    <map id="map" name="map" >
        <area href="#" id="area" alt="da" title="da"  shape="@Model.areaShape" data-maphilight='{"alwaysOn":false}' />
    </map>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd id="tag">
            @Html.DisplayFor(model => model.tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit image tag", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.maphilight.js"></script>
<script src="~/Scripts/TagImage.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Hilight();
        ConnectArea('tag', 'area');
    });    
</script>



