@model IEnumerable<ImageTagging.Models.Images>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add new image", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.tag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="map" src="@item.imgURL" id="image" onmousedown="return false" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tag)
        </td>
        <td>
            @Html.ActionLink("Edit image tag", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Show image tag", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
